{% extends "store/base.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <h1> About </H1>
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Quick Links</h3>
              <ul class="list-group">
               
                <a class="list-group-item list-group-item-light" href="/announcements/">Announcements</li>
                
                <a class="list-group-item list-group-item-light" href="/shop/">Shop</a>
              </ul>
            </p>
          </div>
        </div>
    </div>
</main>

{% endblock content %}
